@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

:root {
  --primary-color: #2D71F8;
  --secondary-color: #FC4A;
  --tertiary-color: #1C8370;
  --dark-color: #1A1A1A;
  --light-color: #F2F2F2;
  --svg-fill-color: black;
  --svg-stroke-color: none;
  --font-family: 'Urbanist', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}




@media (prefers-color-scheme: dark) {
    :root {
      --svg-fill-color: white;
      --svg-stroke-color: gray;
    }
  }

svg {
    fill: var(--svg-fill-color);
    stroke: var(--svg-stroke-color);
}