table > tbody > tr > td.paid {
    color: var(--tertiary-color);
}
table > tbody > tr > td.unpaid {
    color: var(--secondary-color);
}

.actions {
    color: var(--primary-color);
    cursor: pointer;
}